<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <title>Questionnaire</title>
</head>
<body>
  <div class="answers-admin">
    <h2> Hello Admin </h2>
    <a href="/"> Log out </a>
  </div>

  <div class="answers answers-js">
    <!-- <canvas id="resultsJS" width="400" height="400"></canvas> -->

    <!-- <table class="answers__table answers__total">
      <h3> Total Answers </h3>

      <tr class="answers__table-row">
        <th>Yes</th>
        <th>No</th>
      </tr>
      <tr class="answers__table-row-answers"></tr>
    </table>

    <h3> Surveyors </h3>
    <table class="answers__table answers__questions-table">
      <tr class="answers__table-row answers__questions-row">
        <td>&nbsp</td>
      </tr>
    </table>

    <a class="answers__link" target="_blank" href="https://console.firebase.google.com/u/0/project/questionnaire-9648c/database/questionnaire-9648c-default-rtdb/data"> Click here to view the Firebase console</a> -->
  </div>
</body>

<script src="./bundle.js"></script>
</html>
