<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <title>Questionnaire</title>
</head>
<body>
  <header class="fixed">
    <div class="container">
      <div class="header__title">
        <h2> Questionnaire </h2>
      </div>
      <div class="header__login">
        <a href="/login"> Login </a>
      </div>
    </div>
  </header>

  <div class="survey">
    <div class="container">
      <h3> Thank you for taking your time to fill out the <span>Survey</span>! </h3>

      <form class="survey__form" action="" method="get">
        <div class="survey__question-main">
          <p> Before we continue please enter your name so we can use your data! </p>
          <div class="survey__required">
            <input type="textbox" name="wfhinput" id="wfh-q" class="survey__textbox"/>
            <div class="survey__checkbox-container">
              <input type="checkbox" name="wfh-checkbox" id="wfh-checkbox" class="survey__checkbox"/><label for="wfh-checkbox">Yes I allow my results to be public (Don't worry we wont reveal your name!)</label>
            </div>
          </div>
        </div>

        <div class="survey__question">
          <p> Do you prefer to work from home? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh1" data-answer="yes" id="wfh1-yes" required/><label for="wfh1-yes"> Yes, I do </label>
            <br/>
            <input type="radio" name="wfh1" data-answer="no" id="wfh1-no" required/><label for="wfh1-no"> No, I don't </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Has working from home helped boost your productivity? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh2" data-answer="yes" id="wfh2-yes" required/><label for="wfh2-yes"> Yes it has </label>
            <br/>
            <input type="radio" name="wfh2" data-answer="no" id="wfh2-no" required/><label for="wfh2-no"> Nope it didn't </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Have you been maintaining your health? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh3" data-answer="yes" id="wfh3-yes" required/><label for="wfh3-yes"> Yup </label>
            <br/>
            <input type="radio" name="wfh3" data-answer="no" id="wfh3-no" required/><label for="wfh3-no"> Nope, finding it difficult </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Has it been easy to collaborate with your co-workers? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh4" data-answer="yes" id="wfh4-yes" required/><label for="wfh4-yes"> Yes, they usually respond on time </label>
            <br/>
            <input type="radio" name="wfh4" data-answer="no" id="wfh4-no" required/><label for="wfh4-no"> No, I'm having trouble getting their attention </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Are client meetings more relaxed and easier to be on time for? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh5" data-answer="yes" id="wfh5-yes" required/><label for="wfh5-yes"> Yes! </label>
            <br/>
            <input type="radio" name="wfh5" data-answer="no" id="wfh5-no" required/><label for="wfh5-no"> Nope </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Have accessing equipment, applications and facilities been difficult? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh6" data-answer="yes" id="wfh6-yes" required/><label for="wfh6-yes"> Yes, I have all the tools that I need for work </label>
            <br/>
            <input type="radio" name="wfh6" data-answer="no" id="wfh6-no" required/><label for="wfh6-no"> No, it is crashing or not available </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Were you more enthusiastic about your work schedule? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh7" data-answer="yes" id="wfh7-yes" required/><label for="wfh7-yes"> Yes! </label>
            <br/>
            <input type="radio" name="wfh7" data-answer="no" id="wfh7-no" required/><label for="wfh7-no"> No... </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Has overtime been more plentiful? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh8" data-answer="yes" id="wfh8-yes" required/><label for="wfh8-yes"> Yes... </label>
            <br/>
            <input type="radio" name="wfh8" data-answer="no" id="wfh8-no" required/><label for="wfh8-no"> No, work has been great with time management </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Would work from the office every 2 days for the week be beneficial or would you rather stay home and work for the entire week? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh9" data-answer="yes" id="wfh9-yes" required/><label for="wfh9-yes"> Yes! I like this plan </label>
            <br/>
            <input type="radio" name="wfh9" data-answer="no" id="wfh9-no" required/><label for="wfh9-no"> No, I would rather stay at home for the entire week </label>
          </div>
        </div>

        <div class="survey__question">
          <p> Has work been more stressful? </p>
          <div class="survey__radio-btn">
            <input type="radio" name="wfh10" data-answer="yes" id="wfh10-yes" required/><label for="wfh10-yes"> Yes... </label>
            <br/>
            <input type="radio" name="wfh10" data-answer="no" id="wfh10-no" required/><label for="wfh10-no"> No, I don't think so </label>
          </div>
        </div>

        <input class="survey__submit" type="submit" value="Submit" id="wfh-submit">
      </form>

    </div>
  </div>
</body>

<script src="./bundle.js"></script>
</html>