<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header__title">
      <h3> Questionnaire </h3>
    </div>
  </header>

  <div class="container">
    <div class="survey">
      <h3> Thank you for taking your time to fill out the Survey! </h3>

      <form class="survey__form" action="" method="get">
        <div class="survey__question">
          <h5> Do you prefer to work from home? </h5>
          <input type="radio" name="wfh1" id=""/><label> Yes </label>
          <input type="radio" name="wfh1" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Has working from home helped boost your productivity? </h5>
          <input type="radio" name="wfh2" id=""/><label> Yes </label>
          <input type="radio" name="wfh2" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Have you been maintaining your health? </h5>
          <input type="radio" name="wfh3" id=""/><label> Yes </label>
          <input type="radio" name="wfh3" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Has it been easy to collaborate with your co-workers? </h5>
          <input type="radio" name="wfh4" id=""/><label> Yes </label>
          <input type="radio" name="wfh4" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Are client meetings more relaxed and easier to be on time for? </h5>
          <input type="radio" name="wfh5" id=""/><label> Yes </label>
          <input type="radio" name="wfh5" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Have accessing equipment, applications and facilities hard? </h5>
          <input type="radio" name="wfh6" id=""/><label> Yes </label>
          <input type="radio" name="wfh6" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Were you more enthusiastic about your work schedule? </h5>
          <input type="radio" name="wfh7" id=""/><label> Yes </label>
          <input type="radio" name="wfh7" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Has overtime been more plentiful? </h5>
          <input type="radio" name="wfh8" id=""/><label> Yes </label>
          <input type="radio" name="wfh8" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Would work from the office every 2 days for the week be beneficial or would you rather stay home and work for the entire week? </h5>
          <input type="radio" name="wfh9" id=""/><label> Yes </label>
          <input type="radio" name="wfh9" id=""/><label> No </label>
        </div>

        <div class="survey__question">
          <h5> Has work been more stressful? </h5>
          <input type="radio" name="wfh10" id=""/><label> Yes </label>
          <input type="radio" name="wfh10" id=""/><label> No </label>
        </div>
      </form>
    </div>
  </div>
</body>

<script src="./bundle.js"></script> 
</html>