// Font Styling
h2 {
  font-family: $raleway;
  font-size: 20px;

  @include md {
    font-size: 35px;
  }
}

p,
h3 {
  font-family: $raleway;
  font-size: 25px;
}

label {
  font-family: $roboto;
  font-size: 17px;
}