// Colors
$black : #000;
$light-grey : #D7D7D7;
$white : #fff;
$grey-white : #F9F9F9;
$blue : #3F5DA2;
$accent-pink : #F07373;

// Container size
$container-size : 675px;

// Screen sizes
$xs : 320px;
$s : 480px;
$md : 768px;
$lg : 1024px;
$xl : 1440px;

// Font Import
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto&display=swap');

// Bolding
$regular : 400;
$semi-bold : 500;

// Fonts
$raleway : 'Raleway', sans-serif;
$roboto : 'Roboto', sans-serif;
