.survey {
  padding-top: 50px;
  width: 100%;

  @include lg {
    padding-top: unset;
    padding-left: 35%;
  }

  @include xl {
    padding-top: 100px;
    padding-left: 40%;
  }

  .container {
    max-width: 665px;
    margin: auto;

    @include lg {
      margin: 0;
    }
  }

  h3 {
    @include lg {
      font-size: 35px;
      max-width: 515px;
      width: 100%;
    }

    span {
      color: $accent-pink;
    }
  }

  &__form {
    margin-top: 20px;

    @include lg {
      margin-top: 30px;
    }

    p {
      font-weight: $semi-bold;
    }
  }

  &__question-main {
    margin-bottom: 40px;

    @include lg {
      margin-bottom: 50px;
    }

    p {
      font-size: 15px;
      font-weight: $bold;
    }
  }

  &__required {
    margin-top: 10px;
  }

  &__textbox {
    padding: 0 20px;
    border: 1px solid $black;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 510px;
    outline: none;
    height: 35px;
    width: 100%;

    @include lg {
      height: 50px;
    }
  }

  &__checkbox-container {
    display: flex;
    
    label {
      font-family: $raleway;
      font-size: 15px;
      font-weight: $semi-bold;
      max-width: 550px;
    }
  }

  &__checkbox {
    border: 1px solid $black;
    margin-right: 10px;
    width: 30px;
    height: 30px;

    @include lg {
      width: 20px;
      height: 20px;
    }
  }

  &__question {
    margin-bottom: 30px;

    @include lg {
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 20px;
    }

    input {
      margin-bottom: 15px;
      opacity: 0;

      @include lg {
        margin-bottom: 20px;
      }

      &:last-of-type {
        margin-bottom: unset;
      }
    }

    input[type="radio"]:checked,
    input[type="radio"]:not(checked) {
      + label {
        cursor: pointer;

        &:before {
          content: '';
          display: block;
          position: absolute;
          border: 1px solid $light-grey;
          border-radius: 100%;
          width: 15px;
          height: 15px;
          top: 1px;
          left: -26px;
          transition: 0.3s ease all;
        }

        &:after {
          content: '';
          opacity: 0;
          transition: all 0.2s ease;
          transform: scale(0);
        }

        &:hover {
          &:before {
            border-color: $accent-pink;
          }
        }
      }
    }

    input[type="radio"]:checked {
      + label {
        &:before {
          border-color: $accent-pink;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          background-color: $accent-pink;
          border-radius: 100%;
          width: 11px;
          height: 11px;
          top: 4px;
          left: -23px;
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    label {
      margin-left: 15px;
      position: relative;
    }
  }

  &__submit {
    background-color: $accent-pink;
    border: 0;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    float: right;
    font-family: $raleway;
    font-size: 17px;
    font-weight: $semi-bold;
    margin-bottom: 40px;
    padding: 15px 30px;
    transition: 0.3s ease all;

    @include lg {
      margin-bottom: 60px;
    }

    &:hover {
      background-color: $accent-pink-dark;
    }
  }

  .unchecked {
    border: 2px solid $accent-pink-dark;
    padding: 20px;
  }
}